.about-content
  //- .about-content__header
  .about-content__avatar
    .avatar
      +image('avatar__img','content/user.jpg')
  .about-content__text
    .about-content__hello Привет, меня зовут
    .about-content__name Иван Милованов
    .about-content__whoiam 
      |Я занимаюсь разработкой современных сайтов и приложений. 
      |Мне нравится делать интересные и современные проекты.    
  //- .about-content__footer
  .about-content__bio
    .about-content__row
      .about-content__row-label Проживаю:
      .about-content__row-data  Липецк
    .about-content__row
      .about-content__row-label Возраст:
      .about-content__row-data  49 лет
    .about-content__row  
      .about-content__row-label Родился:
      .about-content__row-data  12 июля 1970
  .about-content__caption
    |Этот сайт я сделал в рамках обучения в Школе онлайн образования 
    |LoftSchool. Чуть позже я освежу в нём свой контент. А пока 
    |посмотрите, как тут всё классно и красиво!