- 
  var menuItems = [
    {
      name: 'Главная',
      anchorSelector: 'main',
      href: '#'
    },
    {
      name: 'Обо мне',
      anchorSelector: 'about',
      href: '#'
    },
    {
      name: 'Навыки',
      anchorSelector: 'skillspage',
      href: '#'
    },
    {
      name: 'Работы',
      anchorSelector: 'portfolio',
      href: '#'
    },
    {
      name: 'Отзывы',
      anchorSelector: 'feedback',
      href: '#'
    },
    {
      name: 'Связаться',
      anchorSelector: 'contacts',
      href: '#'
    }
  ]

+nav('top-menu',menuItems)