- 
  var menuItems = [
    {name: 'Главная',  href: '#'},
    {name: 'Обо мне',  href: '#'},
    {name: 'Новости',  href: '#'},
    {name: 'Работа',   href: '#'},
    {name: 'Отзывы',   href: '#'},
    {name: 'Связаться',href: '#'},
  ]

+nav('top-menu',menuItems)