ul.parralax-scene.parralax-scene--budda
  li(data-speed="100").parralax-scene__item
    +image('parralax-scene__item-image','parallax/budda/bg.png')  
  li(data-speed="95").parralax-scene__item.js-parallax-item
    +image('parralax-scene__item-image','parallax/budda/1.png')      
  li(data-speed="80").parralax-scene__item.js-parallax-item
    +image('parralax-scene__item-image','parallax/budda/budda.png')
  li(data-speed="90").parralax-scene__item.js-parallax-item
    +image('parralax-scene__item-image','parallax/budda/cloud-0.png')
  li(data-speed="70").parralax-scene__item.js-parallax-item
    +image('parralax-scene__item-image','parallax/budda/5.png')
  li(data-speed="80").parralax-scene__item.js-parallax-item
    +image('parralax-scene__item-image', 'parallax/budda/5.png')
