  //- div#preview-all
  //- .preview-content__img
  //-   +preview('preview-image',previewItems[activeItem].path,previewItems,activeItem)
  //- .preview-content__container
  //-   .preview-content__index=activeItem+1
  //-   .preview-content__text-content
  //-     ul.preview-content__tags  
  //-       each tag in tags 
  //-         li.preview-content__tag
  //-           span=tag
  //-     h3.preview-content__title=previewItems[activeItem].title
  //-     p.preview-content__content=previewItems[activeItem].text
  //-     a.preview-content__link(href='${previewItems[activeItem]}') 
  //-       | Посмотреть сайт
