//- section.fullscreen-section.preview
section.preview#portfolio
  .container.container__preview
    .preview__container
      h2.preview__title Мои работы
      .preview__content
        #preview-all