section.fullscreen-section.review.contact
  .container.container__review 
    .review__container
      include ./review-title
      include ./review-content
    .contact__container
      h2.title.contact__title Связаться со мной
      include ./form