section.review.contact#budda-section
  //- include ./parallax-budda
  .container.container__review 
    div#feed-slider
    .contact__container
      h2.title.contact__title Связаться со мной
      include ./form