section.fullscreen-section.review.contact
  .review__container
    h2.title.review__title Что обо мне говорят
    include ./review-content
  .contact__container
    h2.title.contact__title Связаться со мной
    include ./form