- 
  var reviewItems = [
    {path: 'avatars/dm.png', username: 'Ковальчук Дмитрий', position: 'Основатель Loftschool', text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!', href:'#'},
    {path: 'avatars/vl.png', username: 'Владимир Сабанцев', position: 'Преподаватель', text: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах',href:'#'}
  ]


+reviews('review-content',reviewItems)
