- 
  var frontItems = [
    {label: 'HTML5'},
    {label: 'CSS3'},
    {label: 'Javascript'},
    {label: 'jquery и Vue.js'}
  ]
- 
  var workFlow = [
    {label: 'GIT'},
    {label: 'Terminal'},
    {label: 'Gulp'},
    {label: 'Webpack'}
  ]


.ring-block
  +ring-block('ring-row',frontItems,'Front-end')
  +ring-block('ring-row',workFlow,'Workflow')