- 
  var socialItems = [
    {name: 'Инстаграмм', icon: 'instagram', href:'https://instagram.com'},
    {name: 'ВКонтакте',  icon: 'vkontakte', href:'https://vk.com'},
    {name: 'GitHub',     icon: 'github',    href:'https://github.org'}
  ]

+socials('top-socials',socialItems)