.triangle-border
  svg.triangle-border__item.triangle-border__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
    polygon(
      points="0, 0 0, 100 1000, 100"
    )
  svg.triangle-border__item.triangle-border__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
    polygon(
      points="0, 100 1000, 100 1000, 0"
    )