.triangles, .triangles-down {
  display: flex;
  width: 100%;
  margin-top: -150px;
  color: white;
  z-index: 10;
  &__item {
    width: 50%;
    height: 150px;
    fill: currentColor;
  } 
}

.triangles-down {
  margin: -190px 0 40px;
  color: yellow;
  &__item {
    height: 150px;
  }
}