.ring {
  width: 130px;
  height: 130px;
  display: flex;
  position:relative;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
  &__border {
    border: 10px solid $ring-color;
  }
  &__label {
    font-weight: 700;
    color: $text-color;
    opacity: 0.5;
    margin: auto;
    text-align: center;

  }
}