.usefull {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../images/bg/bugpack.png');
  background-position: bottom 50px left 0;
  background-repeat: no-repeat;
  background-size: 500px;
}