.about {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container {
  &__about {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}