.about-content {
  width: 70%;
  display: flex;
  &__left {
    min-width: 330px;
    display: flex;
    flex-direction: column;
  }
  &__right {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
  }
  &__avatar {
    height: 100%;
  }
  &__bio {
    margin-top: 79px;
    display: flex;
    flex-direction: column;
  }
  &__row {
    margin-top: 26px;
    display: flex;
    &:first-child {
      margin-top: 0px;
    }
  }
  &__row-label {
    width: 40%;
  }
}