.top-menu {
  display: flex;
  min-width: 698px;
  &__list {
    
    display: flex;

  }
  &__item {
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    } 
  }
  &__link {
    width: 100%;
    font-size: 16px;
    color: $text-color;
    text-decoration: none;
    &:hover {
      font-weight: 600;
    }
  }
}