.bg-wrapper {
	// background-image: url("../images/Mountain-Baloon.jpg");
	@include tablets {
    background-image: url("../images/bg/mountain.png");
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: top center;
    position: relative;
    clip-path: polygon(0% 0%, 0% 95%,50% 100%,100% 95%,100% 0%);
  }
  @include phones {
    background-size: 300% 119%;
    background-position-x: 59%;
    clip-path: polygon(0% 0%, 0% 98%,50% 100%,100% 98%,100% 0%);
  }
}