.intro-scroll {
  position: absolute;
  
  left: auto;
  right: auto;
  bottom: 100px;
  &__link {
    color: $text-color;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  &__icon {
      width: 30px;
      height: 30px;
      fill: $text-color;    
  }
}