.intro {
  position: relative;
  z-index: 10;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;  
    margin-top: -51px; 
  }
}
.container {
  &__intro {
    height: 100%;
  }
}
