include _mixins/mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      main.maincontent
        include _includes/header
        include _includes/intro
        include _includes/about
        include _includes/usefull
        include _includes/preview
        include _includes/review
        include _includes/footer